<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" /> 
    <script src="https://kit.fontawesome.com/a71707a89a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styleContainer.css" />
    <link rel="stylesheet" href="./stylePop.css" />
    <title>Sign in & Sign up Form</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <input type="submit" value="Login" class="btnn solid" />
                    <p class="social-text">Or Sign in with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ex ratione. Aliquid!
                    </p>
                    <button class="btnn transparent" id="sign-up-btn">
              Sign up
            </button>
                </div>
                <img src="img/log.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laboriosam ad deleniti.
                    </p>
                    <button class="btnn transparent" id="sign-in-btn">
              Sign in
            </button>
                </div>
                <img src="img/register.svg" class="image" alt="" />
            </div>
        </div>
    </div>
    <div id="popUpOverlay"></div>
    <div id="popUpBox">
        <div id="box">
            <i class="fas fa-check-circle fa-5x"></i>
            <!--
            <h1>Here Goes Your Popup</h1>-->
            <div class="wrapper">
                <header>Captcha in JavaScript</header>
                <div class="captcha-area">
                    <div class="captcha-img">
                        <img src="captcha-bg.png" alt="Captch Background">
                        <span class="captcha"></span>
                    </div>
                    <button class="reload-btn"><i class="fas fa-redo-alt"></i></button>
                </div>
                <form action="#" class="input-area">
                    <input type="text" placeholder="Enter captcha" maxlength="6" spellcheck="false" required>
                    <button class="check-btn">Check</button>
                </form>
                <div class="status-text"></div>
            </div>
            <div id="closeModal"></div>
        </div>
    </div>
    <button onclick="Alert.render('You look very pretty today.')" class="btn">Show Alert</button>
    <script src="./appContainer.js"></script>
    <script src="./script.js"></script>
    <script src="app.js"></script>
</body>

</html>